input[type=text], select, textarea {
    background-color:#fcfcfc;
    padding: 12px;
    border: 1.5px solid #ccc;
    border-radius: 10px;
    resize: vertical;
}
input[type=submit]{
    background-image: linear-gradient(#0dccea, #0d70ea);
    border: 0;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: Montserrat,sans-serif;
    font-size: .9em;
    margin: 5px;
    padding: 10px 15px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.textarea{
    resize:none;
    height: 150px;
 }
 .applynow-form-elem{
    margin: 1%;
 }
 input[type=text].applynow-form-elem ,textarea.applynow-form-elem, .applynow-radio-group{
    width: 90%;
 }
 .applynow-radio-group{
    border:1.5px solid #ccc;
    background-color:#fcfcfc;
    padding: 5px;
    border-radius: 10px;
 }
 small.form-error{
    color:  red;
}

.main_heading{
    text-align: center;
}
tbody tr:nth-child(even) {
    background-color: #eee;
}
th {
    background-color: #5bc0de;
    color: #fff;
    text-align: left;
}
.containerr{
    width: 95%;
    margin: auto;
}

